#carouselExampleAutoplaying {
  max-width: 200px; /* Limit the width */
  margin: 5px; /* Center the carousel horizontally */
 display: flex;
 
}

#carouselExampleAutoplaying .carousel-item img {
  object-fit: cover; /* Ensures the image fills the carousel without distortion */
  height: 200px; /* Set a fixed height for the carousel images */
  width: 250px; /* Ensure images stretch to fill the width */
}
.custom-input {
  width: 30%; /* Adjust width as needed */
  height:35px; /* Adjust height as needed */
  font-size: 1.2rem; /* Increase font size for better readability */
  padding: 5px;
}